body{
	background-color: #eeeeee;
	font-family:'Lato', sans-serif;
}
#title h2{
	color:plum;
}
.container{
	max-width: 600px;
	height: 500px;
	margin: 0 auto;
	background-color: #20272b;
	padding: 10px 50px 50px 50px;
	border-radius: 50px;
	border: 2px solid #cbcbcb;
	box-shadow:1-px 15px 5px #cbcbcb;
}
.container #question{
	font-family: sans-serif;
	font-size: 20px;
	margin: 2px 2px 2px 2px;
	color:#000;
	background-color:lightblue;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	border: 0px solid white;
}
.container #answerOptions{
	margin: 2px 2px 2px 2px;
	color:#000;
	background-color:black;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	border: 0px solid white;
}
.container #questionImage{
	background-color:steelblue;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	border: 0px solid white;
	width:auto;
	height:124px;
	vertical-align: middle;
}
.container #questionImage td{
		vertical-align: middle;
		align:center;
}
.container #resultContainer{
	color:#ddd;
}
.container #feedbackContainer{
			margin: 2px 2px 2px 2px;
			background-color:white;
			padding: 10px 10px 10px 10px;
			border-radius: 10px;
			border: 2px;
}
.image{
	width:120px;
	height:120px;
}
.questionImage {
	display:block;
	width:120px;
	height:120px;
	margin: 0 auto;
}
input{
	vertical-align: middle;
}

.hint-btn, .submit-btn,.next-btn{
	margin: 2px 2px 2px 2px;
	background-color:blanchedalmond;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	border: 2px;
}
.hint-btn:hover{
	background-color:burlywood;
}
.submit-btn{
	background-color:tomato;
}
.submit-btn:hover{
	background-color:indianred;
}
.next-btn{
	background-color:sienna;
}
.next-btn:hover{
	background-color:saddlebrown;
}
.buttons{
	margin-top: 30px;
}
.hint-btn:focus, .submit-btn:focus,.next-btn:focus{
	outline: 0;
}
.container #answerOptions table#optionTable td{
	text-align: center;
	vertical-align: middle;
	margin: 0 0 20px 0;
	width:25%;
	color:aquamarine;
	padding-top:5px;
}
table#optionTable {
	margin: 0 0 10px 0;
}
table#hintTable{
	margin: 0 0 10px 0;
	color:black;
	padding-bottom: 0px;
}
#optionImages{
	text-align: center;
	vertical-align: middle;
	margin: 0 0 10px 0;

}
#hintBox {
	margin: 2px 2px 10px 2px;
	background-color:skyblue;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	border: 2px;

}
